html {
   display: flex;
   justify-content: center;
   align-items: center;
}
body {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 800px;
   width: 80%;
   font-family: Arial;
   position: relative;
}
.starting {
   position: absolute;
   width: 90%;
   height: 80%;
   z-index: 2;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   text-align: center;
   font-size: 35px;
   background-color: #ffffff;
   border-radius: 10px;
   top: 14%;
   left: 5%;
}
.starting button {
   text-align: center;
   font-size: 35px;
   background-color: #ffce5d;
   color: black;
   border-radius: 30px;
   border: solid 3px black;
   padding: 15px;
   cursor: pointer;
   transition: all 0.3s;
}
.starting button:hover {
   transform: scale(1.05);
}
.blacker{
   background-color: #333333ce;
   width: 100%;
   height: 100%;
   z-index: 1;
   position: absolute;
   display: inline-block;
}
.change-level {
   position: absolute;
   width: 70%;
   height: 70%;
   z-index: 2;
   display: none;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   text-align: center;
   font-size: 35px;
   background-color: #ffffff;
   border-radius: 10px;
   top: 18%;
   left: 15%;
}
.buttons{
   display: flex;
   justify-content: space-between;
   width: 40%;
}
.change-level .buttons button{
   text-align: center;
   font-size: 35px;
   background-color: #ffce5d;
   color: black;
   border-radius: 30px;
   border: solid 3px black;
   padding: 8px;
   cursor: pointer;
   transition: all 0.3s;
}
.change-level .buttons button:hover{
   transform: scale(1.05);
}
.container {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.win-zone {
   width: 127.88px;
   height: 131px;
   position: absolute;
   top: 266px;
   right: -126px;
   border:#584f4f94 solid 2px;
   border-left: none;
   border-right: none;
}
.info {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 50px;
}
table {
   border-collapse: collapse;
   width: 800px;
   height: 800px;
   padding: 0;
   display: table;
}
td {
   width: 16.66%;
   height: 16.66%;
   border:#584f4f94 solid 2px;
   padding: 0;
   cursor: pointer;
   transition: 0.4s;
}
#scape{
   border-right: none;
}
.BackgroundColor1 {
   background-color: #db7aba;
}
.BackgroundColor2 {
   background-color: #5ac098;
}
.BackgroundColor3 {
   background-color: #ffc851;
}
.BackgroundColor4 {
   background-color: #68b3f0;
}
.BackgroundColor5 {
   background-color: #8c75d2;
}
.BackgroundColor6 {
   background-color: #ff935e;
}
.BackgroundColor7 {
   background-color: #f16865;
}
.BackgroundColor8 {
   background-color: #ff7d9d;
}
.BackgroundColor9 {
   background-color: #68c8b7;
}
